.celda {
    width: 80px;
    height: 80px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 80px;
    font-size: 80px;
    cursor: pointer;
}

#contenedorGeneral {
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#contenedorCuadros {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 250px;
    margin: auto;
}

